* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.card {
    display: inline-block;
    margin-right: 5px;
}
.container {
    position: relative;
    width: 920px;
    height: 450px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
}

body > div:last-child {
    margin-top: 65px;
}

img {
    width: 300px;
    height: 450px;
}

.rosso{
    color: red;
    font-size: 18px;
}

.prima-foto-blocco:hover, 
.prima-foto2:hover,
.prima-foto4:hover,
.prima-foto5:hover,
.prima-foto6:hover {
    display: none;
}

.testo-speciale {
    position: absolute;
    top: 455px;
    left: 620px;
    font-size: 15px;
}
/* / common */


/* foto1 */
.sconto {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 50px;
    height: 30px;
    background-color: rgb(235, 20, 56);
    color: white;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.sustain {
    position: absolute;
    left: 55px;
    bottom: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(32, 134, 71);
    color: white;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.cuore {
    position: absolute;
    top: 10px;
    left: 250px;
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

.prima-foto-blocco {
    position: absolute;
    top: 0;
    left: 0;
}
/* / foto1 */

/* foto2  */
.prima-foto2 {
    position: absolute;
    top: 0;
    left: 310px;
    z-index: 2;
}

.seconda-foto2 {
    position: absolute;
    top: 0;
    left: 310px;
    z-index: 1;
}

.sconto-2 {
    position: absolute;
    left: 310px;
    bottom: 20px;
    z-index: 3;
}

.cuore-2 {
    position: absolute;
    top: 10px;
    left: 560px;
    z-index: 3;
}
/* / foto2  */

/* foto3 */
.prima-foto3 {
    position: absolute;
    top: 0;
    left: 620px;
}
/* / foto3 */

/* foto5  */
.prima-foto5 {
    position: absolute;
    top: 0;
    left: 310px;
    z-index: 2;
}

.seconda-foto5 {
    position: absolute;
    top: 0;
    left: 310px;
    z-index: 1;
}

.cuore-3 {
    position: absolute;
    top: 10px;
    left: 560px;
    z-index: 3;
}
/* / foto5  */

/* foto6 */
.prima-foto6 {
    position: absolute;
    top: 0;
    left: 620px;
    z-index: 2;
}

.seconda-foto6 {
    position: absolute;
    top: 0;
    left: 620px;
    z-index: 1;
}

.cuore-4 {
    position: absolute;
    top: 10px;
    left: 870px;
    z-index: 3;
}

.sustain-2 {
    position: absolute;
    left: 620px;
    bottom: 20px;
    z-index: 4;
}
/* / foto6 */
