* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    position: relative;
    width: 980px;
    height: 450px;
    margin: 20px auto 60px;
    background-color: white;
}

img {
    width: 320px;
    height: 450px;
}

.foto-1 {
    position: absolute;
    left: 0;
}

.foto-2 {
    position: absolute;
    left: 330px;
}

.foto-3 {
    position: absolute;
    left: 660px;
}

.sconto {
    position: absolute;
    top: 400px;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: rgb(255, 0, 55);
    color: white;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.sustain {
    position: absolute;
    top: 400px;
    left: 55px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: seagreen;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.cuore {
    position: absolute;
    top: 25px;
    left: 270px;
    width: 50px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;

}

.prezzo {
    color: rgb(255, 0, 55);;
}

.barra {
    text-decoration: line-through;;
}
/* common */

/* body */
#sustain-unico{
    position: absolute;
    top: 400px;
    left: 0;
    width: 100px;
    height: 30px;
    color: white;
    background-color: seagreen;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

/* / body */